.window{
  display: flexbox;
  width: 30vh;
  height: 30vh;
  margin-bottom: 50px;
  position: absolute;
  border: 13px;
  border-color: rgb(208, 229, 247);
}
.topBar{
  font-size: 1vh;
  display: flex;
  user-select: none;
  height: 2vh;
  background-color: rgb(15, 108, 184);
}
.title{
  align-self: center;
  padding-right: 3vw;
}
.buttons{
  height: 2vh;
  justify-content: flex-end;
  align-self: center;
}
.contents{
  background-color: antiquewhite;
  overflow: auto;
  height: 26vh;
}
#invisible{
  display: none;
}