#iconButton button {
    background-color: gray;
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}
#iconButton img {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
}

 .window{
    background-color: antiquewhite;
    top: 30px;
    left: 10px;
    display: flexbox;
    width: 30vh;
    height: 30vh;
    position: absolute;
    border: 2px;
    border-style: ridge;
    border-color: rgb(15, 108, 184);
  }
 .topBar{
    font-size: 1vh;
    display: flex;
    user-select: none;
    height: 2vh;
    background-color: rgb(15, 108, 184);
  }
  .title{
    align-self: center;
    padding-right: 3vw;
  }
 .buttons{
    font-size: 1vh;
    height: 2vh;
    justify-content: end;
    align-self: center;
  }
 .contents{
    background-color: antiquewhite;
    overflow: auto;
    height: 26vh;
  }
  #invisible{
    display: none;
  }